* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/market.jpg);
    background-position: center;
    background-size: cover;
}

::selection {
    background-color: #fff;
    color: #fcac00;
}

main h1 {
    font-size: 80px;
    color: #fff;
    text-shadow: 0px 0px 22px #000;
}

label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.icon
{
    font-size: 20px;
}

.icon::before {
    content: "";
    background-color: #000;
    border:9px solid #000;
    border-radius: 50%;
}

#add-btn,
#update-btn,
#border-product .delete,
#border-product .update {
    padding-inline: 4rem;
    background-color: #444;
    color: #fff;
    transition: all 0.5s;
    margin-inline: 5px;
}

#border-product .update {
    background-color: #0505fa;
}

#border-product .delete {
    background-color: #ff0000;
}

#update-btn {
    background-color: #0505fa;
    font-weight: 700;
}

#add-btn {
    background-color: #fcac00;
    color: #000;
    font-weight: 700;
}

#add-btn:hover,
#update-btn:hover,
.delete:hover,
.update:hover {
    box-shadow: 0px 0px 9px 1px #fff;
}

img {
    width: 100%;
    margin: auto;
}

.title {
    color: #fcac00;
    text-shadow: 0px 1px 5px #000;
}

.h3-display {
    color: #fff;
    text-shadow: 0px 1px 5px #000;
}

main .form-control:focus {
    color: #fff;
    font-weight: 600;
    background-color: #0007;
    border-color: #000;
    outline: 0;
    box-shadow: 0px 0px 15px 1px #000;
}

main .form-control {
    background-color: #0005;
    color: #fff;
}

@media (max-width:640px) {
    main h1 {
        font-size: 35px;
    }
}